@font-face {
    font-family: 'V-Inter';
    src: url('V-Inter-Medium-500.woff2') format('woff2'),
        url('V-Inter-Medium-500.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'V-Inter';
    src: url('V-Inter-Regular-375.woff2') format('woff2'),
        url('V-Inter-Regular-375.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

