@font-face {
  font-family: "V-Inter";
  src: url("./assets/fonts/transfonter.org-20240329-164458/V-Inter-Medium-500.woff2")
      format("woff2"),
    url("./assets/fonts/transfonter.org-20240329-164458/V-Inter-Medium-500.woff")
      format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "V-Inter";
  src: url("./assets/fonts/transfonter.org-20240329-164458/V-Inter-Regular-375.woff")
      format("woff"),
    url("./assets/fonts/transfonter.org-20240329-164458/V-Inter-Regular-375.woff2")
      format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "V-Inter";
}
.container {
  width: 1200px;
  margin: 0 auto;
}

.offre {
  margin-top: 30px;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.imageproduit {
  width: 233px;
  height: 360px;
  object-fit: cover;
}

article a {
  text-decoration: none;
}

article {
  font-family: "V-Inter";
  font-weight: 300;
  width: 300px;
  height: fit-content;
  margin-bottom: 40px;
  color: #a6a6a6;
}

article p {
  font-size: 15px;
}

.avatardiv {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  font-size: 13px;
  margin-bottom: 5px;
  margin-left: 5px;
  height: 20px;
}
.avatardiv a {
  text-decoration: none;
}

.avatar {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

/* page offre */

.bodyoffer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #ebedee;
}

.bodyoffer img {
  object-fit: cover;
  width: 400px;
  height: 600px;
}

.bodyoffer .ficheproduit {
  width: 400px;
  height: fit-content;
  background-color: white;
  padding: 20px;
}

.offercontainer {
  padding: 30px;
  width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0, 150px;
}

.offercontainer img {
  width: 450px;
}

#prix {
  width: 300px;
  font-size: 20px;
  padding: 25px 20px;
}

#detail {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details {
  gap: 40px;
  display: flex;
  width: 300px;
  font-size: 15px;
  color: #a6a6a6;
  justify-content: space-between;
  padding: 5px 20px;
}

#divider {
  background: hsla(0, 0%, 7%, 0.1);
  display: block;
  height: 1px;
  width: 100%;
  margin: 50px 0;
}

.desc {
  gap: 20px;
  display: flex;
  flex-direction: column;
  width: 300px;
  font-size: 15px;
  color: #a6a6a6;
  justify-content: space-between;
  padding: 5px 20px;
}

#infoaccount {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}
#avatar2 {
  border-radius: 50%;
}

.buttonacheter {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.buttonacheter > a {
  border-radius: 5px;
  width: 80%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2db0ba;
  color: white;
  font-size: 17px;
  text-decoration: none;
}

/* form */
.formulaire {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}

.formsignup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 310px;
  color: #a6a6a6;
}

.formsignup button {
  background-color: #2db0ba;
  color: white;
  margin-top: 30px;
  width: 250px;
  height: 50px;
  font-size: 20px;
}

.formsignup button:hover {
  cursor: pointer;
}

.inputtext input {
  background-color: white;
  width: 300px;
  height: 40px;
  border: none;
  border-bottom: 1px red solid;
  margin-bottom: 30px;
  font-size: 20px;
  color: black;
}

.newsletter {
  width: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: gray;
  margin-bottom: 17px;
  font-size: 20px;
  accent-color: #2db0ba;
  gap: 10px;
}

.formulaire a {
  margin-top: 15px;
  text-decoration: none;
  color: #2db0ba;
  font-size: 12px;
}

/* form sell */
.bodyinfo {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #ebedee;
}

.picture {
  padding: 20px;
  width: 1100px;
  height: 250px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.boutton2 {
  margin-bottom: 20px;
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.bodyinfo label {
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  border: #2db0ba 3px solid;
}
.bodyinfo label:hover {
  cursor: pointer;
}

.imgfiche {
  border: #2db0ba 3px solid;
  border-radius: 5px;
  width: 250px;
  margin-right: 20px;
}

.form-info {
  padding: 20px;
  width: 1100px;
  height: fit-content;
  background-color: white;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 30px;
}

.bodyinfo h1 {
  margin: 30px;
}

.bodyinfo input {
  background-color: white;
  width: 1100px;
  height: 40px;
  border: none;
  border-bottom: 0.3px #ebedee solid;
  margin-bottom: 30px;
  font-size: 20px;
  color: black;
}

.formsell button {
  background-color: #2db0ba;
  color: white;
  margin-top: 30px;
  width: 150px;
  height: 50px;
  font-size: 20px;
}

.formsell button:hover {
  cursor: pointer;
}

.flexxx {
  margin-bottom: 20px;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* payment */

.fondgris {
  background-color: #ebedee;
  height: 650px;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexxx {
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.paymentbox {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  padding: 20px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.flexcheck {
  width: 600px;
  padding: 24px;
  height: fit-content;
}
.frais {
  display: flex;
  justify-content: space-between;
  height: fit-content;
}

.frais1 {
  gap: 20px;
  display: flex;
  flex-direction: column;
}

#divider2 {
  background: hsla(0, 0%, 7%, 0.1);
  display: block;
  height: 1px;
  width: 100%;
  margin: 50px 0;
}

.margintop {
  margin: 40px 0;
}

#bouttonpayment {
  width: 100%;
  height: 45px;
  background-color: #2db0ba;
  border-radius: 5px;
  color: white;
  margin-top: 30px;
  font-size: 20px;
}

.error_display {
  margin: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.error_display img {
  width: 1000px;
}
